* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

nav {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
}

nav img {
  height: 70px;
}

.toggle {
  width: 40px;
  height: 40px;
  margin: 5px 5% 5px auto;
  border: 1px solid white;
  position: relative;
  display: none;
}

.toggle span {
  display: block;
  position: absolute;
  left: 7px;
  width: 25px;
  border-bottom: 2px solid white;
}

.toggle span:nth-child(1) {
  top: 10px;
}

.toggle span:nth-child(2) {
  top: 17px;
}

.toggle span:nth-child(3) {
  top: 24px;
}

ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

ul li {
  margin: auto 30px;
  font-size: 16px;
  display: inline-block;
}

li a {
  color: #fafafa;
  text-decoration: none;
}

/* メインビジュアル */
.main-visual {
  height: 650px;
  width: 100%;
  padding-top: 200px;
  background-image: url(img/mv.png);
  background-position: center;
  background-size: 100%;
}

.main-visual-text {
  margin-bottom: 10px;
  font-size: 64px;
  font-weight: bold;
  color: #fafafa;
  text-align: center;
}

.main-visual-string {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

/* ポートフォリオ */
.portfolio {
  width: 100%;
  padding: 90px 0;
  background-color: #eceff1;
  position: relative;
}

.portfolio-title,
.feature-title,
.profile-title,
.contact-title {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 8px;
  color: #000000;
  text-align: center;
}

.portfolio-title::after,
.feature-title::after,
.profile-title::after,
.contact-title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 146px;
  display: inline-block;
  width: 70px;
  height: 3px;
  transform: translateX(-50%);
  background-color: #ec715f;
}

.text {
  font-size: 16px;
  margin: 30px 0;
  color: #000000;
  text-align: center;
}

.image-box {
  height: 510px;
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image {
  height: 250px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin-bottom: 10px;
}

.portfolio-image:nth-child(2) {
  background-image: url(img/websuku.png);
  margin: 0 10px 10px 10px;
}

.portfolio-image:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-bottom: 10px;
}

.portfolio-image:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-image:nth-child(5) {
  background-image: url(img/talk.jpg);
  margin: 0 10px;
}

.portfolio-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

/* フィーチャ */
.feature,
.contact {
  padding: 90px 0;
  position: relative;
}

.feature-box {
  width: 980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.feature-content {
  height: auto;
  width: 320px;
}

.feature-content:nth-child(2) {
  margin: 0 10px;
}

.feature-content i {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.content-title {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.content-text {
  font-size: 16px;
  color: #000000;
}
/* プロフィール */
.profile {
  width: 100%;
  padding: 90px 0;
  position: relative;
  background-color: #eceff1;
}

.profile-box {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.profile-content {
  width: 50%;
}

.profile-image {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  background-image: url(img/my-icon.jpg);
  background-size: cover;
  border-radius: 50%;
}

.introduction-title {
  margin: 20px 0 5px;
  font-size: 20px;
  font-weight: bold;
}

.introduction-title:nth-child(1) {
  margin: 0 0 5px;
}

/* コンタクト */
.contact-box {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact-content {
  width: 50%;
}

.content-title {
  margin: 20px 0 5px;
  font-size: 20px;
  font-weight: bold;
}

.content-title:nth-child(odd) {
  margin: 0 0 5px;
}

.address-box {
  margin-left: 35%;
  display: block;
}

.contact-box .content-title {
  text-align: left;
}

.address-box:nth-child(2) {
  margin: 20px 0 0 35%;
}

.sns-box {
  margin-left: 30%;
}

.icon-box {
  display: flex;
}

.icon-box i {
  font-size: 45px;
  margin-right: 20px;
}

.icon-box i:nth-child(3) {
  margin: 0;
}

/* フッター */
.footer {
  height: 60px;
  width: 100%;
  background-color: #ec715f;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
  line-height: 60px;
}

@media screen and (max-width: 768px) {
  .header,
  nav img {
    height: 50px;
  }

  nav {
    width: 90%;
  }

  ul {
    display: none;
  }

  .toggle {
    display: flex;
  }

  .main-visual {
    background-image: url(img/code.png);
    background-size: cover;
  }

  .main-visual-text {
    width: 90%;
    font-size: 40px;
    margin: 0 auto 10px;
  }

  .main-visual-string {
    width: 90%;
    font-size: 18px;
    margin: 0 auto;
  }

  .text {
    width: 90%;
    margin: 30px auto;
  }

  .image-box {
    height: auto;
    width: 90%;
    display: block;
  }

  .portfolio-image:nth-child(odd) {
    display: none;
  }

  .portfolio-image:nth-child(even) {
    margin: 0 auto 10px;
  }

  .portfolio-image:nth-child(6) {
    margin: 0 auto;
  }

  .feature-box {
    width: 90%;
    display: block;
  }

  .feature-content {
    width: 350px;
    margin: 0 auto;
  }

  .feature-content:nth-child(2) {
    margin: 10px auto;
  }

  .profile-box {
    width: 90%;
    display: block;
  }

  .profile-content {
    width: 100%;
  }

  .profile-content:nth-child(1) {
    margin: 30px 0 20px;
  }

  .profile-content p {
    text-align: center;
  }

  .contact-box {
    width: 100%;
    display: block;
  }

  .contact-content {
    width: 90%;
    margin: 0 auto;
  }

  .address-box {
    margin: 0 auto;
  }

  .address-box:nth-child(1) {
    margin-top: 30px;
  }

  .address-box:nth-child(2) {
    margin: 20px 0;
  }

  .address-box p,
  .contact-box .content-title {
    text-align: center;
  }

  .sns-box {
    margin: 0 auto;
  }

  .icon-box {
    justify-content: center;
  }

  .icon-box i {
    margin-right: 8px;
  }
}
